body {
  padding: 16px;
  background-color: #b9b9b9;
}

h1 {
  color: #4d4d4d;
  text-align: center;
}

$name: "card";

.#{$name} {
  width: 200px;
  height: 300px;
  padding: 8px;

  &_edit {
    .#{$name}__form {
      display: block;
    }
  }
  &__content {
    user-select: none;
    flex: 2 0 auto;
  }
  &__form {
    display: none;
    flex: 1 0 auto;
  }
  &__close {
    flex: 0 0 auto;
  }
}
